<!--NTURO CONTACT INFORMATION-->

{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
<br/>
    <div class="container sections" id="contact">
        <div class="row">
            <div class="col-md-12 mx-auto" style="background-color: rgb(255, 196, 0);">
                <h1 style="text-align:center;font-family: arcade;font-size: 5em;">Contact Information</h1>
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-10">
                <p style="text-align:justify">
                    If you have any queries, do contact us through any of the following channels and we will reply you as soon as we can!
                    </br></br>
                    <img src="/static/images/logos/email.png" alt="GMAIL Logo" style="max-height:24px;"> Email: <a href="mailto: nturo.aquathlon@gmail.com?subject=NTURO%202021">nturo.aquathlon@gmail.com</a> 
                    </br></br>
                    <img src="/static/images/logos/ig.png" alt="IG Logo" style="max-height:24px;"> Instagram: <a href="https://www.instagram.com/nturo.ntuaquathlon/" target="_blank">@nturo.ntuaquathlon</a>
                    </br></br>
                    <img src="/static/images/logos/fb.png" alt="FB Logo" style="max-height:24px;"> Facebook: <a href="https://www.facebook.com/NTURO" target="_blank">NTURO</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}