<!--NTURO LEADERBOARDS-->

{% extends "layout.html" %}

{% block title %}
    Leaderboards
{% endblock %}

{% block main %}
</br>
<!--CHALLENGE #3: ELEVATION LEADERBOARD-->
<div class="container sections" id="elevation_leaderboard">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1 style="text-align:center;font-family:ka1;font-size: 3em;">Side Quest 3 Elevation Leaderboard</h1>
        </div>
    </div>
</div>
<input class="form-control" id="elevation_input" type="text" placeholder="Search Name...">
<br>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">Ranking</th>
            <th scope="col">Name</th>
            <th scope="col">Elevation Gain (M)</th>
        </tr>
    </thead>
    <tbody id="elevation_table">
        {% for entry in elevation %}
        <tr>
            {% for data in entry %}
            <td>{{data}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function(){
      $("#elevation_input").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#elevation_table tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock %}