<!--NTURO FAQ-->

{% extends "layout.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block main %}
<br/>
    <div class="container sections" id="FAQ">
        <div class="row">
            <div class="col-md-12 mx-auto" style="background-color: rgb(255, 196, 0);">
                <h1 style="text-align:center;font-family: arcade;font-size: 5em;">Frequently Asked Questions</h1>
            </div>
        </div>
    </br>
        <div>
            <h3>How do we register as a team?</h3>
            <p style="text-align: justify;">Each member has to register and make payment separately using the Team Registration link found <a href="/categories#categories">here</a>. Do ensure that all members enter the same team name during registration. Once the registration of all team members have been verified by us, all members of the team will receive a confirmation email.</p>
        </div>
    </br>
        <div>
            <h3>How do we make payment?</h3>
            <p style="text-align: justify;">We are using PayNow as our payment method. After filling in the registration form, payment instructions will be shown on your screen. If you encounter any difficulties during the payment process or do not have PayNow, do reach out to us through any of the channels listed <a href="/contact">here</a> so that we can work out an alternative payment method.</p>
        </div>
    </br>
        <div>
            <h3>Which apps can I use to track my runs?</h3>
            <p style="text-align: justify;">We accept any GPS based tracking apps. Examples include Strava, Garmin, and Runkeeper. If you are unsure whether your app is approved, you may contact us through any of the provided channels <a href="/contact">here</a>.</p>
        </div>
    </br>
        <div>
            <h3>How do I submit my runs?</h3>
            <p style="text-align: justify;">Head over to the "Submissions" page<!-- <a href="/submission">here</a>-->. Select your gender and race category. Click on the "Submit Activity" button. You will be redirected to a Google Form. Simply fill in the form with your details and upload a screenshot of your activity. Do ensure that the date and distance is included in your screenshot, otherwise we cannot verify your activity! You may also refer to our submission guide <a href="/static/documents/Submission_Steps.pdf" target="_blank">here</a>!</p>
        </div>
    </br>
        <div>
            <h3>How can I check my total distance accumulated?</h3>
            <p style="text-align: justify;">Under the "Leaderboards" tab found on the navigation bar at the top of the page, you can click on the dropdown menu and navigate to your category's leaderboard. Simply enter your name into the search bar to find out your total running distance and ranking! Leaderboards will be updated daily. Once we have verified that you have completed your required distance, you will receive an email to inform you of your successful completion of NTURO 2021!</p>
        </div>
    </br>
        <div>
            <h3>Why am I receiving an internal server error (error code 500) when attempting to view the "Leaderboards" page?</h3>
            <p style="text-align: justify;">This is likely due to overwhelming traffic on our website. Simply wait a few minutes before refreshing the page. If the error continues to persist, do let us know through any of the following channels listed <a href="/contact">here</a>.</p>
        </div>
    </br>
        <div>
            <h3>Do I have to complete the distance in a single run?</h3>
            <p style="text-align: justify;">No. You can complete your distance by accumulating it throughout the entire race period. There are no limits as to how many submissions you can make. There is also no required pace or distance for each submitted activity.</p>
        </div>
    </br>
        <div>
            <h3>For team categories, must each member contribute equally?</h3>
            <p style="text-align: justify;">No. The contribution of each member will be left to the team's discretion. As long as the team accumulates the required total distance, all members will be deemed to have completed the event and will receive their entitlements. However, we hope that team members will run together for a more memorable race experience!</p>
        </div>
    </br>
        <div>
            <h3>Will the activities submitted for challenges count towards my total distance for the main race?</h3>
            <p style="text-align: justify;">If you would like your submission(s) for challenges to count towards your total distance for the main race, please submit the same activity twice: once under the "Side Quest" race category, and once under the category that you have signed up for. Otherwise, we will not count your submissions for the challenges towards your total accumulated distance.</p>
        </div>
    </br>
        <div>
            <h3>What will participants receive?</h3>
            <p style="text-align: justify;">Participants' entitlements vary depending on category. Detailed information can be found <a href="/categories#pricing">here</a>. Do take note that entitlements will only be given out after the end of NTURO 2021.</p>
        </div>
    </br>
        <div>
            <h3>What if I do not complete the distance that I have registered for?</h3>
            <p style="text-align: justify;">In the event of a DNF (Did Not Finish), you will still receive your race entitlements. However, you will not receive a finisher's e-certificate.</p>
        </div>
    </br>
        <div>
            <h3>What does the event shirt look like?</h3>
            <p style="text-align: justify;">The shirt design can be found <a href="/information#shirt">here</a>.</p>
        </div>
    </br>
        <div>
            <h3>My question is not listed. What can I do?</h3>
            <p style="text-align: justify;">Head over to our "Contact" Page <a href="/contact">here</a> and send us your question through any of the provided channels.</p>
        </div>
    </div>
{% endblock %}