<!--NTURO RACE INFORMATION-->

{% extends "layout.html" %}

{% block title %}
    Information
{% endblock %}

{% block main %}
<br/>
<div class="container sections" id="race_info" style="text-align:center;padding-bottom:0em;">
	<div class="row">
		<div class="col-md-12" style="background-color: rgb(255, 196, 0);">
			<h1 style="text-align:center;font-family: arcade;font-size: 5em;">Race Information</h1>
    </div>
    <div class="table">
      <table class="table col-md-10 mx-auto" style="text-align:left">
        <tbody>
          <tr>
            <th>Duration</th>
            <td colspan="2" style="text-align:left;">Whole month of June 2021</td>
          </tr>
          <tr>
            <th>Race Requirements</th>
            <td colspan="2" style="text-align:left;">Run and accumulate the distance that you have signed up for!</td>
          </tr>
          <tr>
            <th>Number of Submissions</th>
            <td colspan="2" style="text-align:left;">No limit</td>
          </tr>
          <tr>
            <th>Venue</th>
            <td colspan="2" style="text-align:left;">Anywhere</td>
          </tr>
          <tr>
            <th>Approved Apps</th>
            <td>Any GPS based tracking app:</td>
            <td>Garmin, Strava, Runkeeper etc</td>
          </tr>
          <tr>
            <th>Race Booklet</th>
            <td colspan="2" style="text-align: left;"><a href="/static/documents/NTURO_Race_Booklet.pdf" target="_blank">NTURO Race Booklet</a></td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</div>
<div class="container sections" id="c1_info" style="text-align:center;padding-bottom:0em;">
	<div class="row">
		<div class="col-md-12" style="background-color: rgb(255, 196, 0);">
			<h1 style="text-align:center;font-family: arcade;font-size: 5em;">Swim Challenge</h1>
		</div>
    <div class="table">
      <table class="table col-md-10 mx-auto" style="text-align:left">
        <tbody>
          <tr>
            <th>Duration</th>
            <td colspan="2" style="text-align:left;">7 - 12 June</td>
          </tr>
          <tr>
            <th>Challenge Requirements</th>
            <td colspan="2" style="text-align:left;">Swim at least 750m!</td>
          </tr>
          <tr>
            <th>Number of Submissions</th>
            <td colspan="2" style="text-align:left;">1 Submission Only</td>
          </tr>
          <tr>
            <th>Venue</th>
            <td colspan="2" style="text-align:left;">Anywhere</td>
          </tr>
          <tr>
            <th>Prizes</th>
            <td colspan="2" style="text-align:left;">
              <ul>
                <li><b style="color: rgb(196, 0, 0);">First 50</b> to submit your swim will win yourself a NTURO SWIM CAP! </li>
                <li>3 lucky participants will also win themselves a pair of TYR GOGGLES (worth $39)!</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Approved Apps</th>
            <td>Any suitable tracking app:</td>
            <td>Garmin, Strava etc</td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</div>
<div class="container sections" id="c2_info" style="text-align:center;padding-bottom:0em;">
	<div class="row">
		<div class="col-md-12" style="background-color: rgb(255, 196, 0);">
			<h1 style="text-align:center;font-family: arcade;font-size: 5em;">Creativity Challenge</h1>
		</div>
    <div class="table">
      <table class="table col-md-10 mx-auto" style="text-align:left">
        <tbody>
          <tr>
            <th>Duration</th>
            <td colspan="2" style="text-align:left;">14 - 19 June</td>
          </tr>
          <tr>
            <th>Challenge Requirements</th>
            <td colspan="2" style="text-align:left;">Run a route that shows off your creativity!</td>
          </tr>
          <tr>
            <th>Number of Submissions</th>
            <td colspan="2" style="text-align:left;">Maximum of 3 Submissions</td>
          </tr>
          <tr>
            <th>Venue</th>
            <td colspan="2" style="text-align:left;">Anywhere</td>
          </tr>
          <tr>
            <th>Prizes</th>
            <td colspan="2" style="text-align:left;">The 3 most creative submissions will each win a pair of shades from Sunday Shades!</td>
          </tr>
          <tr>
            <th>Approved Apps</th>
            <td>Any GPS based tracking app:</td>
            <td>Garmin, Strava, Runkeeper etc</td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</div>
<div class="container sections" id="c3_info" style="text-align:center;padding-bottom:0em;">
	<div class="row">
		<div class="col-md-12" style="background-color: rgb(255, 196, 0);">
			<h1 style="text-align:center;font-family: arcade;font-size: 5em;">Elevation Challenge</h1>
		</div>
    <div class="table">
      <table class="table col-md-10 mx-auto" style="text-align:left">
        <tbody>
          <tr>
            <th>Duration</th>
            <td colspan="2" style="text-align:left;">21 - 26 June</td>
          </tr>
          <tr>
            <th>Challenge Requirements</th>
            <td colspan="2" style="text-align:left;">Clock the highest elevation in a single run</td>
          </tr>
          <tr>
            <th>Number of Submissions</th>
            <td colspan="2" style="text-align:left;">Maximum of 3 Submissions</td>
          </tr>
          <tr>
            <th>Venue</th>
            <td colspan="2" style="text-align:left;">Time to attack your favourite hills!</td>
          </tr>
          <tr>
            <th>Prizes</th>
            <td colspan="2" style="text-align:left;">
              <ul>
                <li>The 3 highest elevation submissions will each win a pair of Skechers shoes!</li>
                <li>1 lucky participant will also win a pair of Skechers shoes!</li>
              </ul>
            </td>
          </tr>
          <tr>
            <th>Approved Apps</th>
            <td>Any GPS based tracking app:</td>
            <td>Garmin, Strava, Runkeeper etc</td>
          </tr>
        </tbody>
      </table>
    </div>
	</div>
</div>
<div class="container sections" id="shirt" style="text-align:center;">
  <div class="row">
    <div class="col-md-12" style="background-color: rgb(255, 196, 0);">
      <h1 style="text-align:center;font-family: arcade;font-size: 5em;">NTURO 2021 Shirt</h1>
    </div>
    
    <div class="col-md-6"></br>
      <h3>Front</h3> 
      <img src="/static/images/apparels/nturofront.JPG" class="img-fluid map" usemap="#frontmap">
      <map name="frontmap">
        <area name="coins" class="clickable-image" shape="rect" coords="170,245,215,285" onclick="coins()">
        <area name="hearts" class="clickable-image" shape="rect" coords="325,245,375,285" onclick="hearts()">
        <area name="swim" class="clickable-image" shape="rect" coords="325,290,375,325" onclick="swim()">
        <area name="elevation" class="clickable-image" shape="rect" coords="325,325,375,365" onclick="elevation()">
        <area name="creativity" class="clickable-image" shape="rect" coords="325,365,375,405" onclick="creativity()">
        <area name="tagline" class="clickable-image" shape="rect" coords="150,410,375,440" onclick="tagline()">
      </map>
    </div>
    <div class="col-md-6"></br>
      <h3 id="header">Description</h3>
      <p style="text-align: justify;" id="description">Click on various parts of the shirt to find out more about our shirt design! Clickable areas will be highlighted in a green box when you hover over it. Can you find all 6?</p>
    </div>
  </div>
</br>
  <div class="row">
    <div class="col-md-6">
    </br></br>
      <p style="text-align: justify;">Exclusive back design for 100KM participants only! The back of the shirt will be blank for all other participants. Sponsors' logos will also be added to the back of all shirts.</p>
    </div>
    <div class="col-md-6">
      <h3>Back</h3> 
      <img src="/static/images/apparels/nturoback.JPG" class="img-fluid">
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
<script>$(function() {
  $('.map').maphilight({fill:false,strokeColor:"008000",strokeWidth:5});
});</script>
<script>
  function coins() {
    document.getElementById("header").innerHTML = "3 Coins";
    document.getElementById("description").innerHTML = "The 3 coins on our shirt represents our 3rd edition of NTURO!</br></br>NTURO’s annual race is back with the NTURO 2021 Virtual Run 3rd Edition! After the first edition in 2019 and an unplanned hiatus in 2020, the race is back with a twist consisting of a month-long virtual run and surprise challenges with attractive prizes to be won. Missed out on our first race? Find out more <a href='/about#2019'>here</a>!";
  }
  
  function hearts() {
    document.getElementById("header").innerHTML = "Health Bar";
    document.getElementById("description").innerHTML = "This event is not for the faint hearted! Be sure that you’ll be stretched, but fear not for you will survive!</br></br>Lost your passion to exercise during the pandemic? Wished you were active but lack the motivation? Join us for NTURO 2021 to kickstart your active lifestyle once again and rekindle your passion for exercise! Achieve your fitness goals with NTURO 2021, with creative challenges being released over the month.</br></br>Already a fitness enthusiast and are fit and ever ready to run? Race virtually with like-minded individuals, make it up to the leaderboards and stand a chance to win attractive prizes! These challenges will keep you on your toes and motivate you to complete NTURO 2021 with momentum!</br></br>Whether you’re a beginner to the sport, or an avid runner, NTURO 2021 welcomes all to participate!";
  }

  function swim() {
    document.getElementById("header").innerHTML = "Hidden Level";
    document.getElementById("description").innerHTML = "Wonder what this means? Pssst...  Surprise Challenges...  Participate and win yourself prizes! Sign up now to find out!";
  }

  function elevation() {
    document.getElementById("header").innerHTML = "More Hidden Levels???";
    document.getElementById("description").innerHTML = "Wonder what this means? Pssst...  Surprise Challenges...  Participate and win yourself prizes! Sign up now to find out!";
  }

  function creativity() {
    document.getElementById("header").innerHTML = "How Many Are There?!";
    document.getElementById("description").innerHTML = "Wonder what this means? Pssst...  Surprise Challenges...  Participate and win yourself prizes! Sign up now to find out!";
  }

  function tagline() {
    document.getElementById("header").innerHTML = "Tagline";
    document.getElementById("description").innerHTML = "\"Endurance Beyond Limits\" is NTURO's tagline. It is our hope that participants can persevere and set new personal records, no matter how tough the journey. After all, no pain, no gain.";
  }
  </script>
{% endblock %}