<!--NTURO OVERVIEW PAGE-->

{% extends "layout.html" %}

{% block title %}
    Overview
{% endblock %}

{% block main %}
</br>
    <div class="container-fluid sections p-5" id="overview">    
        <div class="row">
            <div class="col-md-12 mx-auto" style="background-color: rgb(255, 196, 0);">
                <h1 style="text-align:center;font-family: arcade_boxes;font-size: 5em;">NTURO GAME GUIDE</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <p style='text-align: justify;'>
            It’s time to gear up for NTURO 2021! This June 2021, embark on a fitness quest like no other.
            Choose from a multitude of available levels. Team up with friends or run solo.   
            Complete your distance all at once, or divide it up to fit your schedule. Explore side quests to gain more experience. Your game, your playstyle.</br></br> 
            All hyped to break your records? Check out our guide to NTURO below!
        </p>
    </br>
        <div class="card">
            <div class="card-header">
                <h3 style="font-family: arcadeclassic;">1. Select Difficulty</h3>
            </div>
            <div class="card-body">
                <p style="text-align: justify;">Select the category that you wish to take part in. Complete the registration form and make payment.</p>
            </div>
        </div>
        <div style="text-align: center;">
            <img src="/static/images/arrow.png" class="img-fluid" style="height: 5em;">
        </div>
        <div class="card">
            <div class="card-header">
                <h3 style="font-family: arcadeclassic;">2. Create New Save File</h3>
            </div>
            <div class="card-body">
                <p style="text-align: justify;">We will verify your registration and payment. A confirmation email will be sent to you within 5 working days.</p>
            </div>
        </div>
        <div style="text-align: center;">
            <img src="/static/images/arrow.png" class="img-fluid" style="height: 5em;">
        </div>
        <div class="card">
            <div class="card-header">
                <h3 style="font-family: arcadeclassic;">3. Create Party</h3>
            </div>
            <div class="card-body">
                <p style="text-align: justify;">It's not fun to run alone, so grab your friends to run with you! While waiting for the race period to begin in June, keep an eye out for exclusive giveaways on our Instagram. Stand a chance to win exciting prizes by simply spreading the word about NTURO!</p>
            </div>
        </div>
        <div style="text-align: center;">
            <img src="/static/images/arrow.png" class="img-fluid" style="height: 5em;">
        </div>
        <div class="card">
            <div class="card-header">
                <h3 style="font-family: arcadeclassic;">4. Start Game</h3>
            </div>
            <div class="card-body">
                <p style="text-align: justify;">Once the race period begins, it's time for you to get running! You will have the whole of June to accumulate your required distance. Check out the leaderboards to keep track of your progress as well as see how you rank against others in your category. Good luck and have fun!</p>
            </div>
        </div>
        <div style="text-align: center;">
            <img src="/static/images/arrow.png" class="img-fluid" style="height: 5em;">
        </div>
        <div class="card">
            <div class="card-header">
                <h3 style="font-family: arcadeclassic;">5. Embark on Side Quests</h3>
            </div>
            <div class="card-body">
                <p style="text-align: justify;">While you're running to accumulate sufficient distance, don't forget to check out our weekly challenges! These side quests may earn you additional loot which can help you level up your fitness!</p>
            </div>
        </div>
        <div style="text-align: center;">
            <img src="/static/images/arrow.png" class="img-fluid" style="height: 5em;">
        </div>
        <div class="card">
            <div class="card-header">
                <h3 style="font-family: arcadeclassic;">6. Claim Rewards</h3>
            </div>
            <div class="card-body">
                <p style="text-align: justify;">Good game, well played! You have completed NTURO 2021! After the race period is over, you can look forward to receiving your race entitlements. Further details will be sent to you via email once the entitlements have been sent out.</p>
            </div>
        </div>
    </div>
</br>
{% endblock %}