<!--NTURO PARTNERS-->

{% extends "layout.html" %}

{% block title %}
    Partners
{% endblock %}

{% block main %}
<br/>
    <div class="container sections" id="partners">
        <div class="row">
            <div class="col-md-12 mx-auto" style="background-color: rgb(255, 196, 0);"> 
                <h1 style="text-align:center;font-family: arcade;font-size: 5em;">Our Partners</h1>
            </div>
        </div>
        <p style="text-align: center;">The NTURO 2021 committee is extremely thankful to our various partners for their support.</p>
    </br>
        <div class="row">
            <div class="col-md-4">
                <img src="/static/images/partners/Unigram.jpeg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="/static/images/partners/TRL.jpg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="/static/images/partners/STARBALM.jpg" class="img-fluid">
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-4">
                <img src="/static/images/partners/Skechers.png" class="img-fluid" style="padding-top: 6em;">
            </div>
            <div class="col-md-4">
                <img src="/static/images/partners/Sennheiser.png" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="/static/images/partners/TRIBAL.jpg" class="img-fluid" style="padding-top: 4em;">
            </div>
        </div>
    </br>
        <div class="row">
            <div class="col-md-4">
                <img src="/static/images/partners/SundayShades.jpg" class="img-fluid">
            </div>
            <div class="col-md-4">
                <img src="/static/images/partners/Redbull.jpeg" class="img-fluid">
            </div>
            <div class="col-md-4" style="margin-top: -7em;">
                <img src="/static/images/partners/Bifesta.png" class="img-fluid" style="margin-bottom: -5em;">
                <img src="/static/images/partners/Foodieland.png" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}