<!--NTURO SUCCESSFUL REGISTRATION-->

{% extends "layout.html" %}

{% block title %}
    Success
{% endblock %}

{% block main %}
<br/>
    <div class="container sections" id="success">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <h1 style="text-align:center;">Registration complete!</h1>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col-md-9">
                <p style="text-align:justify">
                    Thank you for registering for NTURO 2021! A confirmation email will be sent within 5 working days.
                </p>
            </div>
        </div>
    </div>
{% endblock %}